---
import "photoswipe/dist/photoswipe.css";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;
const res = await fetch(new URL("/api/projekte/" + slug, Astro.url));

if (!res.ok) {
	return Astro.rewrite("/404");
}

let [project] = await res.json();

const date = new Date(project.project_date);

import img1 from "@/assets/images/eurotherme/1.jpg";
import img2 from "@/assets/images/eurotherme/2.jpg";
import img3 from "@/assets/images/eurotherme/3.jpg";
import img4 from "@/assets/images/eurotherme/4.jpg";
---

<Layout title={`Projekt ${project.project_title}`}>
	<main>
		<div class="header">
			<p>Projekt</p>
			<h1>{project.project_title}</h1>
			<p class="date">{date.toLocaleDateString("de-DE", { year: "numeric", month: "long", day: "numeric" })}</p>
		</div>
		<div class="content">
			<p>{project.project_description}</p>
			<div class="gallery">
				<a href={img1.src} class="photoswipe-trigger" data-pswp-width={img1.width} data-pswp-height={img1.height}>
					<img src={img1.src} alt="Eurotherme 1" />
				</a>
				<a href={img2.src} class="photoswipe-trigger" data-pswp-width={img2.width} data-pswp-height={img2.height}>
					<img src={img2.src} alt="Eurotherme 2" />
				</a>
				<a href={img3.src} class="photoswipe-trigger" data-pswp-width={img3.width} data-pswp-height={img3.height}>
					<img src={img3.src} alt="Eurotherme 3" />
				</a>
				<a href={img4.src} class="photoswipe-trigger" data-pswp-width={img4.width} data-pswp-height={img4.height}>
					<img src={img4.src} alt="Eurotherme 4" />
				</a>
			</div>
		</div>
	</main>
</Layout>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";

	document.addEventListener("astro:page-load", () => {
		let lightbox = (window as any).photoSwipeLightboxInstance;
		if (!lightbox) {
			lightbox = new PhotoSwipeLightbox({
				gallery: ".gallery",
				children: "a.photoswipe-trigger",
				bgOpacity: 0.8,
				pswpModule: () => import("photoswipe")
			});
			lightbox.init();
			(window as any).photoSwipeLightboxInstance = lightbox;
		}
	});
</script>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.header {
		text-align: center;
		margin: 2rem 0;
	}

	.header p {
		font-size: 1.2rem;
		color: rgb(var(--clr-text));
	}

	h1 {
		font-size: 2.5rem;
		margin: 1rem 0;
	}

	p.date {
		font-size: 1.2rem;
		color: rgb(var(--clr-text));
	}

	.content {
		margin-bottom: 4rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.6;
		margin-bottom: 2rem;
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}

	.gallery img {
		max-width: 350px;
		margin-bottom: 1rem;
		border-radius: 0.2rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		display: block;
	}
</style>
