---
import "photoswipe/dist/photoswipe.css";
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/VideoHeader.astro";

const { slug } = Astro.params;
const res = await fetch(new URL("/api/projekte/" + slug, Astro.url));

if (!res.ok) {
	return Astro.rewrite("/404");
}

let project = await res.json();

// project.project_date = new Date();

let images = [];
if (project.gallery && project.gallery.images) {
	images = project.gallery.images.map((img: any) => {
		return {
			src: img.url,
			alt: img.alt,
			width: img.width,
			height: img.height
		};
	});
}
---

<Layout title={`${project.title} ‐ Intertyp`}>
	<Nav />
	<Header title={project.title} subtitle={"Wir sind Ihr Partner für präzise und hochwertige Beschriftungs-, Beschilderungs- und Folienlösungen in Architekturprojekten. Von klaren Leitsystemen bis zur stilvollen Außenbeschriftung – wir setzen Konzepte professionell um und unterstützen Architekten bei der perfekten Umsetzung ihrer Planungen. Entdecken Sie unsere realisierten Projekte!"} src={project.cover_image.url} />
	<main>
		<div class="header">
			{project.project_date && <p class="date">{new Date(project.project_date).toLocaleDateString("de-DE", { year: "numeric", month: "long", day: "numeric" })}</p>}
			<!-- <h1>{project.title}</h1> -->
			<!-- <p class="desc">{project.description}</p> -->
		</div>
		{images.length > 0 && (
		<div class="gallery">
			{images.map((img: any) => (
				<a href={img.src} class="photoswipe-trigger" data-pswp-width={img.width} data-pswp-height={img.height}>
					<img src={img.src} alt={img.alt} />
				</a>
			))}
		</div>
		)}
	</main>
	<Footer />
</Layout>

{images.length > 0 && (
	<script>
		import PhotoSwipeLightbox from "photoswipe/lightbox";

		const initLightbox = () => {
			const lightbox = new PhotoSwipeLightbox({
				gallery: ".gallery",
				children: "a.photoswipe-trigger",
				bgOpacity: 0.8,
				pswpModule: () => import("photoswipe")
			});
			lightbox.init();
		};

		document.addEventListener("astro:page-load", initLightbox);
		document.addEventListener("astro:after-swap", initLightbox);
	</script>
)}

<style>
	main {
		display: flex;
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.header {
		text-align: left;
		margin: 2rem 0;
	}

	.header h1 {
		font-size: 2.5rem;
		text-decoration: underline;
		text-decoration-color: rgb(var(--clr-primary));
		text-decoration-thickness: 0.2rem;
		text-underline-offset: 0.4rem;
	}

	.header .desc {
		font-size: 1.2rem;
		color: rgb(var(--clr-text));
		margin: 0.5rem 0 1rem;
	}

	.header .date {
		font-size: 1rem;
		color: rgba(var(--clr-text), 0.7);
	}

	.gallery {
		column-count: 3;
		column-gap: 1rem;
	}

	.gallery img {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 0.5rem;
		border-radius: 0.2rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		break-inside: avoid;
	}

	@media (max-width: 900px) {
		.gallery {
			column-count: 2;
		}
	}
	@media (max-width: 600px) {
		.gallery {
			column-count: 1;
		}
	}
</style>
