---
import "glightbox/dist/css/glightbox.min.css";

import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;
const acceptedSlugs = ["eurotherme", "eurotherme-bad-schallerbach", "eurotherme-bad-schallerbach-2023"];
const slugStr = typeof slug === "string" ? slug : undefined;

if (!slugStr || !acceptedSlugs.includes(slugStr)) {
	return Astro.rewrite("/404");
}

const date = new Date("2023-05-15");
const title = "Eurotherme";
const description = "Folierung der Eurotherme Bad Schallerbach";

import img1 from "../../assets/images/eurotherme/1.jpg";
import img2 from "../../assets/images/eurotherme/2.jpg";
import img3 from "../../assets/images/eurotherme/3.jpg";
import img4 from "../../assets/images/eurotherme/4.jpg";
---

<Layout title={`Projekt ${title}`}>
	<main>
		<div class="header">
			<p>Projekt</p>
			<h1>{title}</h1>
			<p class="date">{date.toLocaleDateString("de-DE", { year: "numeric", month: "long", day: "numeric" })}</p>
		</div>
		<div class="content">
			<p>{description}</p>
			<div class="gallery">
				<a href={img1.src} class="glightbox"><img src={img1.src} alt="Eurotherme 1" /></a>
				<a href={img2.src} class="glightbox"><img src={img2.src} alt="Eurotherme 2" /></a>
				<a href={img3.src} class="glightbox"><img src={img3.src} alt="Eurotherme 3" /></a>
				<a href={img4.src} class="glightbox"><img src={img4.src} alt="Eurotherme 4" /></a>
			</div>
		</div>
	</main>
</Layout>

<script>
	import GLightbox from "glightbox";
	GLightbox({
		selector: ".glightbox",
		loop: true
	});
</script>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.header {
		text-align: center;
		margin: 2rem 0;
	}

	.header p {
		font-size: 1.2rem;
		color: rgb(var(--clr-text));
	}

	h1 {
		font-size: 2.5rem;
		margin: 1rem 0;
	}

	p.date {
		font-size: 1.2rem;
		color: rgb(var(--clr-text));
	}

	.content {
		margin-bottom: 4rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.6;
		margin-bottom: 2rem;
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}

	.gallery img {
		max-width: 350px;
		margin-bottom: 1rem;
		border-radius: 0.2rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	}
</style>
