---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

import threeM from "@/assets/images/logos/3m.svg";
import barstoolStore from "@/assets/images/logos/barstool-store.svg";
import budweiser from "@/assets/images/logos/budweiser.svg";
import buzzfeed from "@/assets/images/logos/buzzfeed.svg";
import forbes from "@/assets/images/logos/forbes.svg";
import macys from "@/assets/images/logos/macys.svg";
import mensHealth from "@/assets/images/logos/menshealth.svg";
import mrBeast from "@/assets/images/logos/mrbeast.svg";
---

<script>
	import { gsap } from "gsap";

	const slide = document.querySelector(".logos-slide") as HTMLElement | null;
	if (slide) {
		const images = slide.innerHTML;
		slide.innerHTML += images;

		const slideWidth = slide.scrollWidth / 2;
		gsap.to(slide, {
			x: `-=${slideWidth}`,
			duration: 20,
			ease: "none",
			repeat: -1,
			modifiers: {
				x: gsap.utils.unitize((x) => parseFloat(x) % slideWidth)
			}
		});
	}
</script>

<div class="logos">
	<div class="logos-slide">
		<img src={threeM.src} />
		<img src={barstoolStore.src} />
		<img src={budweiser.src} />
		<img src={buzzfeed.src} />
		<img src={forbes.src} />
		<img src={macys.src} />
		<img src={mensHealth.src} />
		<img src={mrBeast.src} />
	</div>

	<style>
		.logos {
			overflow: hidden;
			padding: 60px 0;
			background: white;
			white-space: nowrap;
			position: relative;
			display: flex;
		}

		.logos:before,
		.logos:after {
			position: absolute;
			top: 0;
			width: 250px;
			height: 100%;
			content: "";
			z-index: 2;
		}

		.logos:before {
			left: 0;
			background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
		}

		.logos:after {
			right: 0;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
		}

		.logos-slide img {
			height: 50px;
			margin: 0 40px;
			opacity: 0.5;
			display: inline-block;
		}
	</style>
</div>
