---
import plotterVid1 from "@/assets/videos/plotter 2.mp4";

interface Props {
	title: string;
	subtitle: string;
	src?: string;
}

const { title, subtitle, src = plotterVid1 } = Astro.props;

console.log("VideoHeader props:", { title, subtitle, src });

const isVideo = src && (src.endsWith(".mp4") || src.endsWith(".webm") || src.endsWith(".ogg"));
---

<section>
	{
		isVideo ? (
			<video id="video1" autoplay loop muted playsinline>
				<source src={src} type="video/mp4" />
			</video>
		) : (
			<img src={src} alt={title} />
		)
	}
	<div class="overlay"></div>
	<div class="header-content">
		<h1>{title}</h1>
		<p>{subtitle}</p>
	</div>
</section>

<style>
	section {
		position: relative;
		height: 40vh;
		width: 100vw;
		box-shadow:
			0 -30px 50px rgba(0, 20, 0, 0.3),
			0 30px 50px rgba(0, 20, 0, 0.3);
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		transition: opacity 0.5s ease-in-out;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		transition: opacity 0.5s ease-in-out;
	}

	.overlay {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.4);
		z-index: 2;
	}

	.header-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-70%, -50%);
		z-index: 3;
		color: white;
		/* text-align: center; */
		max-width: 800px;
		line-height: 1.1;
	}

	.header-content h1 {
		font-size: 5rem;
		font-weight: 750;
		margin-bottom: 1rem;
	}

	.header-content p {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	.header-content .button {
		font-size: 1.4rem;
	}
</style>
